@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__content {
    position: relative;
}

.header__inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.header__phone {
    margin-right: 30px;
    margin-left: auto;
    text-align: right;

    &-number {
        font-size: 18px;
        font-weight: 700;
        color: #292929;
    }

    &-text {
        font-size: 11px;
        color: #969696;
    }
}

.header__btn {
    border: 2px solid #292929;
    padding: 7px 22px;
    font-size: 12px;
    font-weight: 700;
    color: #292929;
    transition: all .3s;

    &:hover {
        background-color: $btn;
    }
}

.header__menu {
    background-color: #ffcc00;
    padding: 19px 60px 19px 68px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;

    &-list {
        display: flex;
        justify-content: space-between;

        li {
            
            a {
                font-size: 14px;
                color: #000;
                font-weight: 700;
                transition: all .3s;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

// end header

// start main

.main {
    background-image: url(../images/content/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 550px;
    padding: 165px 0 140px;
    color: #ffffff;

    &__title {
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 35px;
    }

    &__text {
        max-width: 245px;
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 60px;
    }

    &__box {
        display: flex;
        align-items: center;
    }

    &__btn {
        color: #0d0d0d;
        font-weight: 700;
        font-size: 12px;
        background-color: $btn;
        padding: 14px;
        max-width: 200px;
        width: 100%;
        text-align: center;
    }

    &__catalog-link {
        margin-left: 30px;
        font-size: 12px;

        span {
            font-weight: 300;
            margin-right: 14px;
        }

        a {
            color: #ffffff;
            font-weight: 700;
        }
    }
}

// end main

// start range

.range {
    padding: 75px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 300px;
        width: 100%;
        min-height: 470px;
        border: 2px solid #f6f6f6;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;

        &-images {
            padding-top: 50px;
            margin-bottom: 37px;
        }

        &--special {
            border: none;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding-top: 212px;
        }

        &-title {
            font-weight: 700;
            border-bottom: 1px solid #c9c9c9;
            display: inline-block;
            line-height: 15px;
            margin-bottom: 15px;
        }

        &-text {
            font-size: 13px;
            color: #626262;
            font-weight: 300;
            line-height: 18px;
            margin-bottom: 22px;
        }

        &-price {
            font-weight: 700;
            color: #0f0f0f;
            font-size: 16px;
            margin-bottom: 30px;
        }

        &-btn {
            color: #0d0d0d;
            font-size: 12px;
            font-weight: 700;
            background-color: $btn;
            padding: 14px;
            max-width: 180px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

// end range

@import 'media';



  